<% provide(:title, "Login") %>
<div class="login-signup row justify-content-center align-items-center">
    <div class="col-5 login-signup-images">
        <%= image_tag("home_img.png", alt:"home_img") %>
        <%= image_tag("home_img2.gif", alt:"home_img2", class:"home_img2") %>
    </div>
    <div class="col-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Makostagram</h5>
                <%= form_for(:session, url: login_path) do |f| %>
                    <% flash.each do |message_type, message| %>
                        <div class="alert alert-<%= message_type %>"><%= message %></div>
                    <% end %>

                    <div class="form-group">
                        <%= f.label :email %>
                        <%= f.email_field :email, class: "form-control" %>
                    </div>
                    <div class="form-group">
                        <%= f.label :password %>
                        <%= f.password_field :password, class: "form-control" %>
                    </div>
                    <%= f.submit "Log in", class: "btn btn-outline-dark" %>
                </form>
                <% end %>
                アカウントをお持ちでないですか？<%= link_to "Signup", signup_path %>
            </div>
        </div>
    </div>
</div>