<% provide(:title, "Sign Up") %>
<div class="login-signup signup row justify-content-center align-items-center">
    <div class="col-5 signup-images">
        <%= image_tag("home_img.png", alt:"home_img") %>
        <%= image_tag("home_img2.gif", alt:"home_img2", class:"home_img2") %>
    </div>
    <div class="col-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Makostagram</h5>
                <%= form_for(@user) do |f| %>
                    <%= render 'shared/error_messages' %>
                    <div class="form-group">
                        <%= f.label :name %>
                        <%= f.text_field :name, class: "form-control" %>
                    </div>
                    <div class="form-group">
                        <%= f.label :email %>
                        <%= f.email_field :email, class: "form-control" %>
                    </div>
                    <div class="form-group">
                        <%= f.label :password %>
                        <%= f.password_field :password, class: "form-control" %>
                    </div>
                    <div class="form-group">
                        <%= f.label :password_confirmation, "Confirmation" %>
                        <%= f.password_field :password_confirmations, class: "form-control" %>
                    </div>
                    <%= f.submit "Create my account", class: "btn btn-outline-dark" %>
                </form>
                <% end %>
                アカウントをお持ですか？<%= link_to "login", root_path %>
            </div>
        </div>
    </div>
</div>